/*
  Name: Daniel Avalos
  Date: 12/07/2023
  File: styles.css
*/

header {
    background-color: rgb(243, 229, 182);
    height: 200px;
}

.Elements {
    display: block;
    float: left;
    height: 100px;
    width: 25%;
    margin: 25px auto 25px 25px;
}

h1 {
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

#description {
    display: block;
    background-color: rgb(163, 242, 255);
    border: black 1px solid;
}

#description p {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

main {
    background-color: #ffffff;
    height: 900px;
    padding: 100px;
}

#Power {
    display: block;
    background-color: rgb(255, 239, 161);
    border: 3px soild black;
    margin: auto;
    padding: 125px;
    width: 75%;
    height: 700px;
}

h2, .text {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.pics {
    display: block;
    margin: 25px auto 25px;
    width: 150px;
    height: 150px;
}

footer {
    display: block;
    margin-top: 100px;
    background-color: rgb(255, 0, 0);
    height: 300px;
    padding: 50px;
}

footer p {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
