/*
  Name: Daniel Avalos
  Date: 12/07/2023
  File: styles.css
*/

header {
    background-color: rgb(243, 229, 182);
    height: 150px;
}

.Elements {
    display: block;
    height: 100px;
    width: 25%;
}

h1 {
    display: block;
    text-align: right;
    font-family: "Times New Roman", Times, serif;
}

#description {
    display: block;
    background-color: rgb(163, 242, 255);
    border: black 1px solid;
}

#description p {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

main {
    background-color: #ffffff;
    height: 1000px;
}

#Power {
    display: block;
    background-color: rgb(255, 239, 161);
    border: 3px soild black;
    margin: 150px auto 150px;
    padding: 50px;
    width: 75%;
    height: 700px;
}

h2, .text {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

footer {
    display: block;
    background-color: rgb(255, 0, 0);
    height: 250px;
    padding: 100px;
}

footer p {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
