/*
  Name: Daniel Avalos
  Date: 12/07/2023
  File: styles.css
*/

header {
    background-color: rgb(243, 229, 182);
    height: 150px;
}

header h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.Elements {
    display: block;
    height: 100px;
    width: 100px;
    margin: auto auto auto 25px;
}

#description {
    display: block;
    background-color: rgb(163, 242, 255);
    border: black 1px solid;
}

main {
    background-color: #ffffff;
    height: 1000px;
}

footer {
    display: block;
    background-color: rgb(255, 0, 0);
    height: 250px;
}

footer p {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
